@import "styles";

$text-padding: space(4);

.grid {
  justify-content: flex-start;
  padding: space(1);
  height: 100%;
  justify-content: flex-start;
  margin: auto;
  overflow: hidden;

  & img {
    padding-bottom: space(1);
  }

  @include breakpoint("tablet") {
    padding-bottom: space(3);
    & img {
      padding: space(0.5) space(1);
    }
  }

  @include breakpoint("desktop") {
    & img {
      padding: space(1);
    }
  }
}

.text {
  padding: $text-padding * 3 $text-padding;
  width: calc(50% - $text-padding * 2);
  font-size: 1.75rem;
  width: 100%;

  @include breakpoint("desktop") {
    width: calc(25% - $text-padding * 2);
  }
}
