@import "styles";

.bubble {
  width: auto;
  padding: space(2) space(4);
  border-radius: toRem(5px);
  margin: space(2) space(2) 0 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    opacity: 0.75;
  }

  @include breakpoint("desktop") {
    margin: space(2) toRem(3.2px) 0;
    padding: space(2) space(6);
  }
}

.text {
  @include breakpoint("desktop") {
    font-size: 1.1rem;
    font-weight: bold;
  }
}
