@import "styles";

.parent-container {
  overflow: hidden;
  flex-grow: 1;
}

.column {
  flex-grow: 1;
  height: auto;
  border-left: solid 1px color("black");
  position: relative;
  background-color: rgba(color("black"), 0.65);

  &:first-child {
    border-left: solid 1px transparent;
  }

  &:hover {
    background-color: rgba(color("black"), 0.55);
    transition: background-color transform 0.35s;
  }

  &-container {
    display: flex;
    width: 100%;
    height: auto;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    position: relative;
    flex-direction: column;

    @include breakpoint("desktop") {
      flex-direction: row;
    }
  }
}

.subtitle {
  position: absolute;
  bottom: space(4);
  left: space(4);
  transform: rotate(90);
}
