@import "styles";

.root {
  width: 90%;
  margin: auto;
  padding: space(8) 0;
  display: block;

  @include container();

  @include breakpoint("tablet") {
    width: 80%;
  }

  @include breakpoint("desktop") {
    padding: space(8) 0;
  }

  & > * {
    margin-bottom: space(2);
  }
}

.full {
  width: 100%;
  @include full-width-container();
}

.flex {
  display: flex;
}

.wrapped {
  flex-wrap: wrap;
}
