@import "styles";

.root {
  position: relative;
  width: 100%;
  background-color: white;
  justify-content: center;
  z-index: 99;

  @include breakpoint("desktop") {
    position: absolute;
    justify-content: flex-end;
  }
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  padding: space(2);

  @include breakpoint("desktop") {
    padding: space(8);
  }
}

.mobile-menu {
  position: relative;
  width: 100vw;
  top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: height 0.5s ease-in-out;
  visibility: hidden;
  height: 0;

  &--visible {
    height: 100vh;
    visibility: visible;
  }
}

.nav-mobile-item {
  text-decoration: none;
  border-bottom: solid 1px color("black");
  padding-bottom: space(1);
  z-index: 1;
}

.nav-list {
  display: flex;
  flex-direction: column;

  @include breakpoint("desktop") {
    flex-direction: row;
  }
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.nav-item {
  display: flex;
  position: relative;
  margin: space(2) 0;
  justify-content: center;

  & > a {
    margin: 0 space(1);

    &:last-child() {
      margin-right: 0;
    }
  }

  @include breakpoint("desktop") {
    margin: 0;
    &:after {
      content: "";
      position: absolute;
      width: 0%;
      height: 1px;
      left: 5%;
      top: 50%;
      background-color: color("black");
      transition: 300ms ease-in-out;
      pointer-events: none;
    }

    &:hover:after,
    &--selected {
      width: 90%;
    }
  }

  @include breakpoint("desktop") {
    &:not(:last-child) {
      & > a {
        margin: 0 space(4);
      }
    }
  }
}
