@import "styles";

.root {
  position: absolute;
  width: 100%;
  background-color: transparent;
  z-index: 1200;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  padding: space(8);
}

.nav-list {
  display: flex;
}

.nav-item {
  display: flex;
  transition: ease-in-out 0.3s;

  & > a {
    margin: 0 space(1);
  }

  @include breakpoint("desktop") {
    & > a {
      margin: 0 space(4);
    }

    &:hover {
      transform: scale(1.15);
    }
  }
}

.mobile {
}
