@import "styles";

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2rem 1rem;
  justify-content: space-between;

  @include breakpoint("desktop") {
    flex-direction: column;
    padding: 2rem;
  }
}

.introduction {
  width: 100%;

  @include breakpoint("desktop") {
    width: 20%;
  }
}

.jobs {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include breakpoint("desktop") {
    width: 75%;
  }
}

.job {
  margin: 2rem 0;

  &:first-child {
    margin-top: 0;
  }
}

.text {
  margin: 0.5rem 0;
}

.intro-text {
  margin: 2rem 0;

  &:first-child {
    margin-top: 0;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
