@import "styles";

.parent-container {
    padding-right: 6px;
}

.container {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint("desktop") {
        flex-wrap: nowrap;
    }
}

.introduction {
    width: 100%;
    padding: 0 space(2);

    @include breakpoint("desktop") {
        width: calc(25% + space(8));
        padding: space(8);
        border-right: solid 1px color("black");
    }
}

.jobs {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include breakpoint("desktop") {
        width: auto;
        max-width: calc(75% - 3.8rem);
    }
}

.job {
    padding: space(4) space(2);
    border-top: solid 1px color("black");

    &:first-child {
        margin-top: 0;
    }

    @include breakpoint("desktop") {
        padding: space(8);
        border: 0;

        &:first-child {
            margin-top: 0;
        }
    }
}

.text {
    margin: space(2) 0;
}

.intro-text {
    margin: space(8) 0;

    &:first-child {
        margin-top: 0;
    }
}

.skills {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
