@import "styles";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.media {
  width: 50%;
  display: none;

  @include breakpoint("desktop") {
    display: flex;
  }

  &-container {
    width: 40%;
  }
}

.heading {
  padding: space(8) space(2);

  @include breakpoint("desktop") {
    padding: space(8);
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;

  &-container {
    margin-top: space(8);
    border-top: solid 1px color("black");
    border-bottom: solid 1px color("black");
    display: block;
    align-items: center;
    padding: space(8) space(2);
    flex-grow: 1;

    @include breakpoint("desktop") {
      display: flex;
      height: auto;
      padding: space(8);
    }
  }
}

.field {
  display: flex;
  flex-wrap: wrap;
}

.label {
  width: 100%;
  margin: space(2) 0;

  @include breakpoint("desktop") {
    width: 17%;
    margin: 0;
  }
}

.input {
  flex-grow: 1;
  padding: space(2) space(4);
  font-size: 1.3rem;
  margin: space(2) 0;
  resize: none;
  border: solid 1px;

  &--error {
    border: solid 1px color("red");
  }

  &-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.error {
  width: 100%;
  text-align: left;

  @include breakpoint("desktop") {
    text-align: right;
  }
}

.submit {
  @include text-basic();
  @include btn-base();
  @include primary-btn();
  padding: space(4) space(8);
  margin-top: space(4);
  width: 100%;
  font-size: space(4);
  margin-left: 0;
}

.link-container {
  padding: 0 space(8);
  padding-bottom: space(8);
  margin: 0;
}

.link {
  display: flex;
  align-items: center;
  margin-top: space(4);
  &:hover {
    cursor: pointer;
  }
}

.icon {
  margin-right: space(4);
}

.textarea {
  height: 10rem;
}

.social:hover {
  text-decoration: underline;
  color: color("black");
}

.loader {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success {
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}
