@import "styles";

.parent-container {
  overflow-y: auto;
}

.container {
  position: relative;
  height: calc(100% - 10px);
  overflow: hidden;

  @include breakpoint("desktop") {
    height: 100%;
  }

  &--right {
    display: grid;
    flex-wrap: wrap;
    align-content: space-between;
    width: 90%;

    @include breakpoint("desktop") {
      width: 70%;
    }

    & > p {
      justify-self: flex-end;
      width: 100%;
      margin: space(2) 0;

      &:nth-child(odd) {
        justify-self: flex-start;
      }

      @include breakpoint("desktop") {
        margin: space(2) 0;
        width: 85%;
      }

      @include breakpoint("desktop-lg") {
        margin: space(6) 0;
      }

      @include breakpoint("desktop-xl") {
        margin: space(10) 0;
      }
    }
  }

  &--left {
    margin-bottom: space(4);
  }
}

.content {
  padding: space(4);
  padding-bottom: space(8);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */

  @include breakpoint("desktop") {
    padding: space(8);
  }
}

.media-container {
  width: 40%;
  position: absolute;
  z-index: -99;
  height: 100%;
  margin-left: auto;
  top: 0;
  right: 0;
  display: none;

  @include breakpoint("desktop") {
    display: block;
  }
}

.image {
  position: absolute;
  height: 20rem;
  width: 17rem;
  right: space(20);
  top: space(40);

  &--center {
    position: absolute;
    top: 50%;
    right: space(28);
    top: space(48);
  }

  &--bottom {
    position: absolute;
    right: space(36);
    top: space(56);
  }
}
