@import "styles";

.container {
  position: relative;
  height: calc(100% - 10px);
  overflow: hidden;

  @include breakpoint("desktop") {
    height: 100%;
  }

  &--right {
    display: grid;
    flex-wrap: wrap;
    align-content: space-between;
    width: 90%;

    @include breakpoint("desktop") {
      width: 70%;
    }

    & > p {
      justify-self: flex-end;
      width: 100%;
      margin: 0.5rem 0;

      &:nth-child(odd) {
        justify-self: flex-start;
      }

      @include breakpoint("desktop") {
        margin: 0.5rem 0;
        width: 85%;
      }

      @include breakpoint("desktop-lg") {
        margin: 1.5rem 0;
      }

      @include breakpoint("desktop-xl") {
        margin: 2.5rem 0;
      }
    }
  }

  &--left {
    margin-bottom: 1rem;
  }
}

.content {
  padding: 0.5rem;
  padding-bottom: 2rem;
  width: 95%;
  margin: auto;
  overflow-y: hidden;
  height: 100%;
  overflow: scroll;

  @include breakpoint("desktop") {
    padding: 2rem;
  }
}

.media-container {
  width: 40%;
  position: absolute;
  z-index: -99;
  height: 100%;
  margin-left: auto;
  top: 0;
  right: 0;
  display: none;

  @include breakpoint("desktop") {
    display: block;
  }
}

.image {
  position: absolute;
  height: 20rem;
  width: 17rem;
  right: 5rem;
  top: 10rem;

  &--center {
    position: absolute;
    top: 50%;
    right: 7rem;
    top: 12rem;
  }

  &--bottom {
    position: absolute;
    right: 9rem;
    top: 14rem;
  }
}
