@import "styles";

.main-container {
  border: solid 1px black;
  position: absolute;
  max-width: 1440px;
  height: calc(100% - 1rem);
  width: calc(100% - 1rem);
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  padding: 0;
}

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  width: 100%;
  padding: 0;
  max-width: 100%;
}

.heading {
  width: 100%;
  padding: 2rem 0.5rem;
  font-size: 2rem;
  border-bottom: solid 1px black;

  @include breakpoint("tablet") {
    font-size: 5rem;
  }
  @include breakpoint("desktop") {
    font-size: 7rem;
    padding: 2rem;
  }
}

.container {
  display: flex;
  height: calc(100% - 95px);
  overflow: scroll;
}
